h2 {
    color: #262626;
}

.header-container h2 {
    color: #F2E8DC;
    margin: 0px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../img/watch.jpg");
    width: 100vw;
    height: 50vh;
    background-position: center center;
    background-size: cover;
}

@media screen and (min-width: 481px) {
    .header-container {
        height: 50vh;
    }
}

@media screen and (min-width: 821px) {
    .header-container {
        height: 100vh;
    }
}

.about-me {

    background: #734F30
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 3vh 15vw;
}

@media screen and (min-width:481px) {
    .about-me-container {
        padding: 5vh 10vw;
    }
}

@media screen and (min-width: 821px) {
    .about-me-container {
        flex-direction: row;
        align-items: center;
        gap: 0vh;
        padding: 10vh 15vw;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.scene {
    width: 100%;
    height: 20vh;
    perspective: 600px;
}

@media screen and (min-width: 821px) {
    .cards-container {
        flex-direction: row;
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: block;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background: #262626;
    color: #F2E8DC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.card-face-back {
    background: #F2E8DC;
    color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    transform: rotateY(180deg);
}

.skills-info {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 10px;
}

.project-links-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.card-face-back a {
    color: #262626;
    text-decoration: none;
}

.card.is-flipped {
    transform: rotateY(-180deg);
    display: block;
}

.skills {
    background: #D98943;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 3vh 15vw;
}

@media screen and (min-width:481px) {
    .skills-container {
        padding: 5vh 10vw;
    }
}

@media screen and (min-width: 821px) {
    .skills-container {
        padding: 10vh 15vw;
    }
}

.projects {
    background: #8C6637;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 3vh 15vw;
}

@media screen and (min-width:481px) {
    .projects-container {
        padding: 5vh 10vw;
    }
}

@media screen and (min-width: 821px) {
    .projects-container {
        padding: 10vh 15vw;
    }
}

@media screen and (min-width: 821px) {

    .projects-container .card-face-front:hover {
        background-position: center center;
        background-size: contain;
        font-size: 0;
    }

    .zombie:hover {
        background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    }

    .chroma:hover {
        background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../img/chroma.png");

    }

}


.about-me-text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ======= CAROUSEL SECTION ======== */
.carousel-container {
    width: 85%;
    display: flex;
    justify-content: center;
}

.carousel-images {
    background: #262626;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.carousel-images img {
    display: none;
    width: 100%;
    border-radius: 10px;
    max-width: 556px;
    max-height: 406px;

}

.carousel-button {
    display: none;
}

@media screen and (min-width: 821px) {
    .carousel-container {
        width: 50%;
        display: flex;
    }

    .carousel-button {
        display: inline-block;
        position: relative;
    }

    .previous {
        align-self: center;
        left: 10%;
        z-index: 2;
    }

    .next {
        align-self: center;
        right: 10%;
        z-index: 2;
    }

    .carousel-button:hover {
        cursor: pointer;
    }
}

.carousel-images img:first-of-type {
    display: block;
}

@media screen and (min-width: 821px) {
    .about-me {
        flex-direction: row;
    }

    .about-me-text {
        width: 50%;
    }

    .container {
        width: 50%;
    }
}




@media screen and (min-width: 821px) {
    .loading-container {
        display: none;
        position: fixed;
        opacity: 0;
        background: #262626;
        width: 100vw;
        height: 100vh;

        z-index: 100;
    }

    .hidden {
        display: none;
        opacity: 1;
    }

    @keyframes loading {
        0% {
            border-radius: 100%;
            width: 100vw;
            height: 100vw;
            left: 0vw;
            top: 0vh;
        }

        100% {
            border-radius: 100%;
            transform: scale(0%);
            left: 50vw;
            top: 50vh;
        }
    }
}