h2 {
    color: #262626;
}
.projects-all-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 3vh 15vw;
}

.projects-all-row {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

@media screen and (min-width: 821px) {
    .projects-all-row {
        flex-direction: row;
        gap: 3vw;
    }
}


.project {
    background: #262626;
    padding: 3vw;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.project-links a {
    color: #262626;
}

.hidden {
    display: none;
}