/*
COLOR PALLETTE


#8C6637 light brown
#F2E8DC off white
#D98943 orange
#734F30 dark brown
#262626 black
*/

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    font-style: bolder;
}

h2 {
    font-size: 0.6em;
    text-align: end;
    padding-right: 25px;
    margin-bottom: 0vh;
    font-style: bolder;
}

@media screen and (min-width: 481px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
        padding-right: 20px;
        margin-bottom: 1vh;
    }
}

@media screen and (min-width: 821px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 5vh;
    }
}

body {
    color: #F2E8DC;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    margin: 0;
    padding: 0;
    background-color: #D98943;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../img/watch.jpg");
}
ul, p {
    font-size: 0.3em;
    padding: 0;
    margin: 0;
}

p {
    padding: 3px;
}
@media screen and (min-width: 481px) {
    ul, p {
        font-size: 0.4em;
        padding: 0;
        margin: 0;
    }

    p {
        padding: 3px;
    }
}

@media screen and (min-width: 821px) {
    ul, p {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }

    p {
        padding: 5px;
    }
}

li {
    list-style-type: none;
}

section {
    margin: 0 10vw;
}
@media screen and (min-width: 481px) {
    section {
        margin: 5vh 10vw;
    }
}

@media screen and (min-width: 821px) {
    section {
        margin: 15vh 10vw;
    }
}
p a {
    text-decoration: underline;
}

a {
    color: #F2E8DC;
    text-decoration: none;
}
a:target {
    scroll-margin-top: 24px;
}

a:hover {
    animation: gradientText 1s ease-in-out;
    background: linear-gradient(to left, #D98943, #F2E8DC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.logo-container {
    position: fixed;
    display: inline-block;
    height: 28px;
    margin: 5px 0 0 5px;
    padding: 0;
    top: 0;
    left: 0;

    z-index: 4;
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 5px 0px 0px;
    z-index: 4;
    font-size: 20px;
    cursor: pointer;
}

 .logo-container img {
    position:absolute;
    height: 28px;
}
.menu-container:hover {
    animation: gradientText 1s ease-in-out infinite alternate-reverse;
}
@media screen and (min-width: 481px) {
    .logo-container{
        margin: 5px 0 0 10px;
        height: 52px;
    }
    .logo-container img {
        height: 52px;
    }
    .menu-container {
        margin: 5px 10px 0px 0px;
        font-size: 36px;
    }
}

@media screen and (min-width: 821px) {
    .logo-container {
        margin: 25px 0 0 30px;
    }
    .menu-container {
        margin: 25px 30px 0px 0px;
        font-size: 45px;
    }
}

.navbar {
    display: none;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;

    background: linear-gradient(#D98943 69%, #c27b3c);
    overflow: auto;

    animation: fadeOut 0.5s ease-out;

    z-index: 3;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.navbar-list-item {
    font-size: 1em;
}

@media screen and (min-width: 481px) {
    .navbar-list-item {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 821px) {
    .navbar-list-item {
        font-size: 1.5em;
    }
}
.active-block {
    display: block;
    opacity: 1;
}

.active-block-animated {
    display: block;
    opacity: 1;
}

.active-flex {
    display: flex;
    opacity: 1;
}

.active-flex-animated {
    display: flex;
    opacity: 1;

    animation: corner 1s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes corner {
    0% {
        margin: auto auto;
        height: 50vw;
        width: 50vw;
        font-size: 0em;
        border-radius: 100%;
        background: #8C6637;
        transform: translate(200%, -100%);
    }
    80% {
        height: 50vw;
        width: 50vw;
        transform: translate(25vw, 10vh);
        border-radius: 100%;
    }

    90% {
        font-size: 0em;
    }

    100% {
        margin: auto auto;
        font-size: 1em;
        background: #D98943;
    }
}

@keyframes gradientText {
    0% {
        background: linear-gradient(to left, #F2E8DC, #F2E8DC);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to left, #D98943, #F2E8DC);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

